<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.calsignlabs.metro_simulator"
	android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0">

  <uses-sdk
      android:minSdkVersion="21"
      android:targetSdkVersion="31" />

  <application
      android:allowBackup="true"
      android:label="@string/app_title">

    <activity
        android:name="android.app.NativeActivity"
        android:label="@string/app_title"
        android:configChanges="orientation|keyboardHidden"
        android:screenOrientation="userLandscape"
        android:exported="true">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <meta-data
          android:name="android.app.lib_name"
          android:value="metro_simulator_android" />

    </activity>

  </application>

</manifest>
