build --symlink_prefix=build/bazel-

test --test_output=errors

# mypy aspect
build:mypy --aspects @mypy_integration//:mypy.bzl%mypy_aspect
build:mypy --output_groups=+mypy

build --config mypy

# print backtraces in tests
test --test_env RUST_BACKTRACE=1

# auto-launch android app
mobile-install --start_app

# enable C++ toolchains, necessary for Rust finding the NDK linkers
common --incompatible_use_cc_configure_from_rules_cc
build --incompatible_enable_cc_toolchain_resolution

# map Android NDK configuration to platforms
build --platform_mappings=mobile/platform/platform_mappings

# don't pass through PATH
build --incompatible_strict_action_env

run:flamegraph --run_under "@crates__flamegraph-0.6.1//:flamegraph__bin -o /tmp/flamegraph.svg --"

build:ci --keep_going --experimental_scale_timeouts=3
